/* herramientas de la pagina y colores */
:root {
    --main-rojo: #B23A48;
    --main-naranja: #EDAE49;
    --main-amarillo: #F9DF74;
    --main-crema: #F9EDCC;
    --main-violetaoscuro: #2B061E;
    --main-cianclaro: #D1FAFF;
    --main-azulclaro: #9BD1E5;
    --main-azulsombra: #6A8EAE;
    --main-verdecrayola: #57A773;
    --main-verdeoscuro: #157145;
    --main-white: #fefefe;
    --main-gray: #303841;
    --main-grey: #808080;
    --main-plata: #BEBEBE;
    --main-aluminio:  #B9B8B5;
    --main-blue: #45567d;
    --main-negro: #000000;
}



/* comando general de la pagina */
* {
    margin: 0;
    padding: 0;
}

*,
  *::before,
  *::after {
    box-sizing: inherit;
}

.container-{breakpoint}: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

/* barra de inicio */

.nav-link {
    color: var(--main-white) !important;
}

/* seccion de presentacion */

#presentacion {
    background-image: url(https://lh3.googleusercontent.com/Gij0SozUjykKvLPG938IH8bGoIxPxV-YrmPwWd5j12NsgisJabDAyX3nqX-x_TCvD1xEqX6HkkzYu3qADbDjQOiT-V5BWzeaVBdYx-yPuwXaZ5jGjGnVfYZOkXkflpdCmVh0VBcJC4kbZCJlBKJIWL57002TOM0RGS4AJnPHHtohKc9cUGppOLsDWkeuNYG3FIiuNXZEQbJJpcIe6LMtGtw1DMjhiKNSDiVFQcdU9VFGrynqrgY3Xmc-8ouG2xRa5A_sumJt-Zs5mnhAJr5o3ZO58XmDIRyJltnSkd9DA3zESRiAzEwUzn78XVQQdUgIItznF9YdZy57ylHqrJ2E6KivLfSju-bVepgIfquOcGriqHjE1-iuhQrD92sIlyiXLArQWsXQZotnfQCTMDspECXoXdmNdKTDloKqwALIHphdiJIMvoor_hBkXvLxP7fOI1gZDkklH7paGyZMH0Bh42sJ8JIAJKYPV05nuh-TnzIOlx4R8ecJltl3u_1hgXBdalYrQeDY7ShmZhieApOGKnxuNlKHePag6v-NA1Xm4eyDSzx758ZECZQKvVpaLkpA84HuaPglkWQj0NWvDCLLU_xeV51Br3n_Pp51slEIdrlPpF0-446BMp-YDZeIkVjn-iIIouI1aqduR_P8G7BvFn5kYxw11Ngi5u43ObcxWanQ8xTUQKzCgcZ0QeR0ls7g4W39Hq4hgdWKlFbNrBAQmC5d_eoqU4fb-QyRGNa2V2qex8LUsopM5sFgJibhNlskVTQ5y6wlTITgdABY7ukb4ImtS0DQEnN9McuZEnz-tPMs5k6vhCh3CQDueDS947DnGfTkyJ7J4LLEYKGlT6Ne1y0qcUSaxMvk26ne6AXlCRM=w1200-h545-no?authuser=0);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.estilo {
    color: var(--main-white);
    font-weight: 500;
    text-align: center;
    font-size: 5rem;
}

.estilo1 {
    color: var(--main-white);
    text-align: center;
}

/* seccion de informacion */
.seccion-info-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    text-align: center;
    background-color: var(--main-gray);
    color: var(--main-white);

}

.info-texts3 {
    display: flex;
    flex-direction: initial;
    font-size: 1rem;
    font-weight: 600;

}

.info-texts2 {
    font-size: 2rem;
    font-weight: 900;

}

.seccion-info-2 {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    text-align: center;
    background-color: var(--main-gray);
}


/* seccion de contacto */

#form-maps {
    display: flex;
    width: 100;
    height: 500px;
}

.form-texts {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    text-align: center;
    background-color: var(--main-gray);
}



.maps-form {
    width: 50%;
    display: flex;
    width: 1000px;
    height: 500px;
}

